<h3 class="mat-h3">Define web application for {{application.name}}</h3>
<form [formGroup]="webApplicationForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group-container">
    <mat-form-field>
      <input matInput placeholder="Enter the web application URL" formControlName="url" required>
      <mat-error *ngIf="url.invalid">{{getControlErrorMessage('url')}}</mat-error>
    </mat-form-field>
  </div>
  <button type="submit" [disabled]="!webApplicationForm.valid" mat-raised-button color="primary">
    Save
  </button>
</form>
