<h1 class="mat-headline">{{application.name}}</h1>
<ng-container *ngIf="application.description">
  <h2 class="mat-h2">Description</h2>
  <p>{{application.description}}</p>
</ng-container>
<mat-divider class="mb-3"></mat-divider>
<div class="row">
  <div class="col-md-6">
    <app-web-application-card [webApplication]="webApplication" *ngIf="hasWebApplication()"></app-web-application-card>
    <app-web-application-form [application]="application" (webApplicationSubmitted)="onWebApplicationSubmitted($event)"
      *ngIf="canCreateWebApplication()"></app-web-application-form>
  </div>
  <div class="col-md-6">

  </div>
</div>
